<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.freshwater.boot.rbac.mapper.RoleButtonMappingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.freshwater.boot.rbac.entity.RoleButtonMappingEntity">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="button_id" property="buttonId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        role_id, button_id
    </sql>

    <delete id="deleteByRoleId">
        delete from freshwater_role_button_mapping where role_id = #{roleId}
    </delete>


</mapper>
